build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.ipynb_checkpoints
env

# due to using tox and pytest
.tox
.cache
.DS_Store
mlruns/
*.tmp
/data/*.csv
/data/AMHARIC/
/data/AMHARIC_CLEAN/
/.dvc/config.local
/.dvc/tmp
/.dvc/cache